<ion-header [translucent]="true" *ngIf="selOrder">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{selOrder.order_code}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="selOrder">
  <div class="ion-padding">
    <h1>Order Status</h1>
    <ion-item>
      <ion-label><h2>Status</h2></ion-label>
      <ion-select placeholder="Select State" value="{{selOrder.status_code}}" [selectedText]="(value)">
        <ion-select-option *ngFor="let status of state" value="{{status.code}}">
          {{status.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>
          Location
          <span class="date">
            <ion-note>{{selOrder.lat}}</ion-note>
          </span>
          <span class="date">
            <ion-note>{{selOrder.log}}</ion-note>
          </span>
        </h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>
          TrackingId
          <span class="date">
            <ion-input type="number" value="{{selOrder.trak_id}}"></ion-input>
          </span>
        </h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-button>update</ion-button>
      </ion-label>
    </ion-item>
  </div>
  
  
  <div class="ion-padding">
    <h1>Order Detail</h1>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>
          Items
          <span class="date">
            <ion-note>{{selOrder.order_details}}</ion-note>
          </span>
        </h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>
          Delivery Date
          <span class="date">
            <ion-note>{{selOrder.shipping_datetime}}</ion-note>
          </span>
        </h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>
          Seller Id
          <span class="date">
            <ion-note>{{selOrder.seller_id}}</ion-note>
          </span>
        </h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>
          Client Id
          <span class="date">
            <ion-note>{{selOrder.client_id}}</ion-note>
          </span>
        </h2>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="selOrder.tag != 'NOTAG'" >
      <ion-label class="ion-text-wrap">
        <h2>
          Tag
          <span class="date">
            <ion-note>{{selOrder.tag}}</ion-note>
          </span>
        </h2>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <h2>
          Send Message
        </h2>
        <ion-textarea  type="number" placeholder="Enter message to customer"></ion-textarea>
        <ion-button (click)="sendSMS()">Send SMS</ion-button>
      </ion-label>
    </ion-item>
  </div>
</ion-content>
