<ion-header [translucent]="true" *ngIf="selOrder">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{selOrder.order_code}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="selOrder">
  <ion-item>
    <!-- <ion-icon name="person-circle" color="primary"></ion-icon> -->
    <ion-label class="ion-text-wrap">
      <h2>
        {{selOrder.status_code}}
        <span class="date">
          <ion-note>{{selOrder.shipping_datetime}}</ion-note>
        </span>
      </h2>
      <ion-note>
        {{selOrder.client_id}}
      </ion-note>
    </ion-label>
  </ion-item>
  <ion-item>
    <!-- <ion-icon name="person-circle" color="primary"></ion-icon> -->
    <ion-label class="ion-text-wrap">
      <h2>
        TrackingId
        <span class="date">
          <ion-note>{{selOrder.trak_id}}</ion-note>
        </span>
      </h2>
      <ion-note>
        {{selOrder.client_id}}
      </ion-note>
    </ion-label>
  </ion-item>
  
  <div class="ion-padding">
    <h1>Order Detail</h1>
    <p>
      {{selOrder.order_details}}
    </p>
    <p>
      {{selOrder.seller_id}}
    </p>
    <p>
      {{selOrder.tag}}
    </p>
    <p>
      {{selOrder.lat}}
    </p>
    <p>
      {{selOrder.log}}
    </p>
  </div>
</ion-content>
