<ion-grid>
  <ion-list>
    <ion-item button *ngIf="order" [routerLink]="'/message/' + order.code" [detail]="false">
      <ion-row size="12">
        <ion-col size="9">
          <ion-label class="order-title">
            {{order.code}}
          </ion-label>
        </ion-col>
        <ion-col size="3">
          <div class="ion-text-end">
            <ion-badge item-end *ngIf="order.status=='Completed'" [color]="'success'" slot="end">
              {{order.status}}
            </ion-badge>
            <ion-badge item-end *ngIf="order.status=='Awaiting'" [color]="'warning'" slot="end">
              {{order.status}}
            </ion-badge>
            <ion-badge item-end *ngIf="order.status=='Crash'" [color]="'danger'" slot="end">
              {{order.status}}
            </ion-badge>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-label class="order-desc">otra gilada</ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-grid>